<body class="home">
<div class="jumbotron">
	<h2><span style="color:#da4f49">Finally, I've been waiting for you.</span></h2>

	<p style="color:white;font: 'Open Sans',serif"> <a href="http://www.twitter.com/mitchrobs"> Mitch</a> is a student, entreprenuer, hacker, and friend. Right now, he's in <a href="www.thecospace.com">State College, PA</a> studying Energy Systems at Penn State. His natural habitat is working with startups (right now, through <a href="www.innoblue.org">Innoblue</a>), traveling, and being a rediculous human being.
	</br> </br> 



	Now that you're here, stay awhile. Check out some blogs and projects, and pull up a chair, and see what Mitch has been up to.</p> </br>

<div class="email_cta">

	<div type="container"> <p style="color:white;size:15px;">
	</br></br>Want updates, blogs, and awesome finds? Who doesn't.</p> </div>

<form class="form-inline"
<div class="form-group"
<label class="sr-only">

	<input type="email" placeholder="mitch@innoblue.org" class="form-control">
	<%= link_to "Send It", "#", class: "btn btn-info", type: 'submit'%>
</label>
</div>
</form>


</div>

</div>

</body>