<footer>

<div type="container"> <p style="color:white;size:15px;">Want updates, blogs, and awesome finds? Who doesn't.</br></p> </div>

<form class="form-inline"
<div class="form-group"
<label class="sr-only">
	<span class="glyphicon glyphicon-share-alt"></span><p>    </p><input type="email" placeholder="mitch@innoblue.org" class="form-control">
	<%= link_to "Send It", "#", class: "btn btn-info", type: 'submit'%>
</label>
</div>
</form>

</div>

</footer>

<footer id="site-footer">
  <div class="row">
    <div class="large-5 small-12 columns">
      <h4>Who is Noah Kagan?</h4>
      <p>
        Noah Kagan is a diarist.  He likes to write about himself third person and he enjoys writing about business.  His ideas are the products of divine inspiration from delicious tacos.
      </p>
      <a href="/about/" class="button">LEARN MORE ABOUT NOAH</a>
    </div>
    <div class="large-5 small-12 columns">
      <h4>Who is OkDork?</h4>
      <p>
        OkDork is Noah Kagan's blog. It is run on the sexiest blog platform around, WordPress. The website was designed by <a href="http://mikaeledwards.com/" target="_blank">Mikael Edwards</a> and developed by <a href="http://damianhodgkiss.com" target="_blank">Damian Hodgkiss</a>.
      </p>
      <ul class="inline-list">
        <li><a href="https://twitter.com/mitchrobs" target="_blank"><img src="http://okdork.com/wp-content/themes/okdork-vdamo/img/social-twitter.png" alt="Twitter" scale="0"></a></li>
        <li><a href="https://www.facebook.com/mitchrobins27" target="_blank"><img src="http://okdork.com/wp-content/themes/okdork-vdamo/img/social-fb.png" alt="Twitter" scale="0"></a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns powered-by">
      <hr>
      © 2014 OkDork
      <strong>Powered by Tacos</strong>
    </div>
  </div>
</footer>